.chat_list_container {
  list-style: none;
  margin: 0 auto;
  padding: 0 15px;
}

.chat_list_item {
  display: flex;
}

.chat_list_user {
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 20px;
  border: 2px solid gray;
  border-left: 7px solid steelblue;
}

.chat_list_user_other {
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: left;
  border: 2px solid gray;
  border-left: 7px solid gray;
  width: fit-content;
  max-width: 80%;
}

.chat_list_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat_end {
  height: 100px;
}
